@import url("https://fonts.cdnfonts.com/css/devonshire");
@import url("https://fonts.cdnfonts.com/css/croissant-one");
@import url("https://fonts.cdnfonts.com/css/dancing-script");
@import url("https://fonts.cdnfonts.com/css/kaushan-script");
@import url("https://fonts.cdnfonts.com/css/komika-text");
body {
  margin: auto;
  font-size: 1vw;
}

footer, button {
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

header {
  background: no-repeat url("../Images/15718411148892_Logo-ohmyfood.png") center/contain #579c87;
  height: 10vh;
}

#logo {
  margin: 0;
}

section {
  width: 70%;
  margin: 20px auto;
  background-color: white;
  color: #fdcb46;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  margin: 20px;
  width: 40%;
  box-shadow: 4px 4px 1em grey;
  position: relative;
}
article .center {
  width: 100%;
  vertical-align: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
article a {
  display: block;
  height: 100%;
  padding-top: 141.42%;
}

button {
  display: block;
  min-width: 200px;
  margin: 20px auto 120px;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer a {
  padding: 0px 20px;
  margin: 0px;
  color: #fdcb46;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.menu-LNE {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fcdfdb;
  font-size: 2vw;
  color: #3d1319;
}
.menu-LNE h2 {
  font-family: "Komika Text", sans-serif;
  color: #3d1319;
}
.menu-LNE .logo-LNE {
  font-family: Devonshire, sans-serif;
  color: #3c1218;
  text-align: center;
}
.menu-LNE .note {
  width: 2em;
}

.detail-LNE {
  width: 60vw;
  height: 85vw;
  font-family: "Komika Text", sans-serif;
  padding: 0px 50px;
  margin: auto auto 120px auto;
  font-size: 1.8vw;
  color: #3d1319;
}
.detail-LNE h3 {
  text-align: center;
  margin-top: 50px;
  line-height: 16px;
}
.detail-LNE h3 .left {
  float: left;
  width: 25%;
}
.detail-LNE h3 .right {
  float: right;
  width: 25%;
}

.menu-LCF {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff5fe;
  font-size: 2vw;
  color: #c77412;
}
.menu-LCF h2 {
  font-family: "croissant one", sans-serif;
  color: #c77412;
}
.menu-LCF .logo-LCF {
  font-family: "croissant one", sans-serif;
  background: linear-gradient(90deg, #e69630 0%, #8f5aff 100%);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.detail-LCF {
  width: 60vw;
  height: 85vw;
  font-family: "Komika Text", sans-serif;
  padding: 0px 50px;
  margin: auto auto 120px auto;
  font-size: 1.8vw;
  color: #000;
}
.detail-LCF h3 {
  text-align: center;
  margin-top: 50px;
  line-height: 16px;
}
.detail-LCF h3 .left {
  float: left;
  width: 25%;
}
.detail-LCF h3 .right {
  float: right;
  width: 25%;
  transform: scaleX(-1);
}
.detail-LCF .entree {
  color: #c67412;
}
.detail-LCF .plat {
  color: #a6689a;
}
.detail-LCF .dessert {
  color: #6e4ccc;
}

.menu-LDP {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f9f9f9;
  font-size: 2vw;
  color: #0887fb;
}
.menu-LDP h2 {
  font-family: "Komika Text", sans-serif;
  color: #0887fb;
}
.menu-LDP .logo-LDP {
  font-family: "Dancing Script", sans-serif;
  background: linear-gradient(90deg, #2252e5 0%, #7abefb 100%);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.detail-LDP {
  width: 60vw;
  height: 85vw;
  font-family: "Komika Text", sans-serif;
  padding: 0px 50px;
  margin: auto auto 120px auto;
  font-size: 1.8vw;
  color: #3f3f3f;
}
.detail-LDP h3 {
  text-align: center;
  margin-top: 50px;
  line-height: 16px;
}
.detail-LDP h3 .left {
  float: left;
  width: 25%;
}
.detail-LDP h3 .right {
  float: right;
  width: 25%;
  transform: scaleX(-1);
}

.menu-LPG {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fdfffd;
  font-size: 2vw;
  color: #72bf56;
}
.menu-LPG h2 {
  font-family: "Komika Text", sans-serif;
  color: #72bf56;
}
.menu-LPG .logo-LPG {
  font-family: "Kaushan Script", sans-serif;
  background: linear-gradient(90deg, #3e923a 0%, #bdfe7e 100%);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.detail-LPG {
  width: 60vw;
  height: 85vw;
  font-family: "Komika Text", sans-serif;
  padding: 0px 50px;
  margin: auto auto 120px auto;
  font-size: 1.8vw;
  color: #0c0c0c;
}
.detail-LPG h3 {
  text-align: center;
  margin-top: 50px;
  line-height: 16px;
}
.detail-LPG h3 .left {
  float: left;
  width: 25%;
}
.detail-LPG h3 .right {
  float: right;
  width: 25%;
  transform: scaleX(-1);
}

.prix {
  float: right;
}

.boing {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0px 5px;
  background: #fdcb46;
  animation: jump 1.5s linear infinite;
}
.boing:nth-child(2) {
  animation-delay: -1.25s;
}
.boing:nth-child(3) {
  animation-delay: -1s;
}

@keyframes jump {
  0%, 50%, 100% {
    transform: initial;
  }
  25% {
    transform: translateY(-1rem);
  }
}
footer a {
  animation: wiggle 1s infinite;
}
footer a:nth-child(2) {
  animation-delay: 0.5s;
}

@keyframes wiggle {
  0% {
    transform: translateX(4px);
  }
  15%, 45% {
    transform: translateX(-4px);
  }
  30%, 60% {
    transform: translateX(4px);
  }
  75% {
    transform: initial;
  }
}
.souligner {
  position: relative;
}

.souligner:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #ff0043 0%, #fff100 100%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.souligner:hover:before {
  visibility: visible;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
