.enteteDetail {
	font-size: 3rem;
	@include mobile {
		display: none;
	}
}
@include not-mobile {
	.detail {
		margin: 20px auto;
		width: 90%;
		max-width: 1180px;
		height: 127vw;
		max-height: 1669px;
	}
}

// Bouclede génération du css de chaque page de menu
@for $i from 1 through length($restos) {

	.detail__#{nth($restos, $i)} {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto auto 120px auto;
		background-color: nth($menu-bg, $i);
		@include not-mobile {
			height: 100%;
			justify-content: space-evenly;
		}
		.logo__#{nth($restos, $i)} {
			text-align: center;
			font: 2rem nth($fonts-garde, $i), sans-serif;
			@if (nth($restos, $i) == "LNE") {
				&--img {
					width: 25%;
				}
			}
			@else {
				background: linear-gradient(90deg, nth($gradient-from, $i) 0%, nth($gradient-to, $i) 100%);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
			}
			@include not-mobile {
				font-size: 4rem;
			}
		}
	}

	.entree__#{nth($restos, $i)},
	.plat__#{nth($restos, $i)},
	.dessert__#{nth($restos, $i)} {
		width: 90%;
		font-family: nth($menu-font, $i), sans-serif;
		font-size: nth($nMobile-font-size, $i);
		@include mobile {
			font-size: nth($mobile-font-size, $i);
		}
		@if (nth($restos, $i) != "LCF") {
			color: nth($carte-font-colors, $i);
		}
	}
	.titre__#{nth($restos, $i)} {
		text-align: center;
		width: 100%;
		line-height: 8px;
		@include not-mobile {
			font-size: 1.5rem;
		}
		&--left {
			width: 20%;
			float: left;
			@include not-mobile {
				width: 25%;
			}
		}
		&--right {
			width: 20%;
			float: right;
			@if (nth($restos, $i) != "LNE") {
				transform: scaleX(-1);
			}
			@include not-mobile {
				width: 25%;
			}
		}
	}
}

// Logo spécifique au bas de page de "La note enchantée"
.logo__bottom {
	font-family: devonshire, sans-serif;
	font-size: 2rem;
	text-align: center;
	&--img {
		vertical-align: middle;
		width: 12%;
	}
}

// Couleurs spécifiques au texte pour "Le chic à la française"
.entree__LCF {
	color: #c67412;
}
.plat__LCF {
	color: #a6689a;
}
.dessert__LCF {
	color: #6e4ccc;
}

.entree--prix, .plat--prix, .dessert__prix {
	float: right;
	@include mobile {
		color: red;
	}
}
