body {
	margin: auto;
	background-color: $main-corps-col;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include not-mobile {
		align-items: center;
	}
}

// Logo ojmyfood, utilisé sur toutes les pages
#ohmyfood {
	margin: 0;
	background: no-repeat url("../Images/15718411148892_Logo-ohmyfood.png") center/contain $main-parts-col;
	height: 10vh;
}

// section
.cadre {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	@include not-mobile {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 1280px;
	}
}

// Lien pour changement de page, contient l'ensemble de la page de garde du menu
.entetes {
	margin: 20px;
	display: block;
	width: 90%;
	height: 127vw;
	box-shadow: 4px 4px 1em grey;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	@include not-mobile {
		width: 44vw;
		height: 64vw;
		max-width: 500px;
		max-height: 707px;
	}
	@for $i from 1 through length($restos) {
		&--#{nth($restos, $i)} {
			background-color: nth($menu-bg, $i);
			color: nth($font-colors, $i);
		}
	}
}
.pageGarde {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: all 1s;
	&:hover {
		transform: scale(1.15);
		opacity: 0.5;
	}
	&__img {
		width: 25%;
	}
	&__logo {
		font-size: 6vw;
		@include not-mobile {
			font-size: 1.8rem;
		}
		@for $i from 1 through $nbRestos {
			&--#{nth($restos, $i)} {
				font-family: nth($fonts-garde, $i), sans-serif;
				@if (nth($restos, $i) != "LNE") {
					background: linear-gradient(90deg, nth($gradient-from, $i) 0%, nth($gradient-to, $i) 100%);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
				}
			}
			& + .pageGarde__menuText--#{nth($restos, $i)} {
				color: nth($font-colors, $i);
				font: 3em nth($menu-font, $i), sans-serif;
				margin: 0;
			}
		}
	}
}

footer, button {
	background-color: $main-parts-col;
	color: $main-text-col;
	font-size: 1.5em;
	padding: 10px;
}

button {
	display: block;
	min-width: 200px;
	margin: 20px auto 120px;
	border-radius: 10px;
}

// Footer: Affiché tout le temps et sur toutes les pages
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
	a {
		padding: 0px 20px;
		margin: 0px;
		color: $main-text-col;
		text-decoration: none;
		text-align: center;
	}
}
